<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <Property name="logPattern">[%d{yyyy/MM/dd-HH:mm:ss}] [%C-%L] %-5level %logger{36} - %msg %ex%n</Property>
    </Properties>

    <appenders>
        <RollingFile name="RollingFile" fileName="logs/autoScore.log"
                     filePattern="logs/autoScore-%d{yyyy-MM-dd}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>${logPattern}</Pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="10 MB"/>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
    </appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</configuration>